/* _variables.scss 변수 */

@use './function' as *;

// inner
$inner: vw-mo(700);

// 컬러
$color-text: #333333; //글자 검정
$color-main: #C92E2E; //메인 빨강
$color-sub-orange: #F25C3D; //서브 주황
$color-sub-yellow: #F29C3D; //서브 노랑
$color-sub-black: #1F1F1F; //서브 검정
$color-gray: #8E8E8E; // 짙은 회색
$color-gray-light: #b7b7b7; // 회색
$color-white-gray: #F7F7F7; // 짙은 흰색
$color-white: #fff; // 흰색