@use './variables' as *;
@use './function' as *;

// 목록
.admin-list {
  .pc-inner {
    width: 1600px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  // 우측 콘텐츠
  .admin-list {
    width: 1150px;
    padding: 60px 0;

    table {
      width: 100%;
      font-size: 12px;
      table-layout: fixed;
      border-collapse: collapse;

      caption {
        display: none;
      }

      thead {
        tr {
          background-color: $color-sub-black;
        }

        th {
          padding: 10px 0;
          border: 1px solid $color-gray-light;
          color: $color-white;
          text-align: center;
        }
      }

      tbody {
        td {
          padding: 10px 5px;
          border: 1px solid $color-gray-light;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
        }

        .btn-td {
          padding: 10px 0px;
          overflow: initial;
        }

        .imgtd {
          padding: 0;
          height: 30px;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: inline-block;
        }

        // 수정 삭제 버튼 서식
        .btn {
          display: inline-block;
          padding: 6px 14px;
          border-radius: 6px;
          border: 1px solid #000;
          transition: 0.2s;
        }

        .btn-update {
          border-color: $color-sub-yellow;
          color: $color-sub-yellow;

          &:hover {
            background: $color-sub-yellow;
            color: #fff;
          }
        }

        .btn-delete {
          border-color: $color-main;
          color: $color-main;
          margin-left: 5px;

          &:hover {
            background: $color-main;
            color: #fff;
          }
        }
      }
    }
  }
}

// 등록/수정
.admin-create {
  .pc-inner {
    width: 1600px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  // 우측 콘텐츠 서식
  .right-content {
    width: 1150px;
    padding: 60px 0;
  }

  form {
    legend {
      display: none;
    }

    button {
      display: block;
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: $color-white;
      background: $color-main;
      border-radius: 6px;
    }
  }
}