@use './variables' as *;
@use './function' as *;

.admin-list {
  .pc-inner {
    width: 1600px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  // 우측 콘텐츠
  .admin-list {
    width: 100%;
    padding: 60px 0;

    table {
      width: 100%;
      font-size: 12px;
      table-layout: fixed;
      border-collapse: collapse;

      caption {
        display: none;
      }

      thead {
        tr {
          background-color: $color-sub-black;
        }

        th {
          padding: 10px 0;
          border: 1px solid $color-gray-light;
          color: $color-white;
          text-align: center;
        }
      }

      tbody {
        td {
          // height: 52px; //음...
          padding: 10px 5px;
          border: 1px solid $color-gray-light;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .imgtd{
          padding: 0;
          height: 30px;
          }
        img {
            //max-height: 1em; // 텍스트 높이까지만
            object-fit:cover;
            width: 100%; height: 100%;
            display: inline-block;
          }


        // 수정 삭제 버튼 서식
        button {
          padding: 6px 14px;
          border-radius: 6px;
          border: 1px solid #000;
          transition: 0.2s;
        }

        button~button {
          margin-left: 5px;
        }

        .btn-update {
          border-color: $color-sub-yellow;
          color: $color-sub-yellow;

          &:hover {
            background: $color-sub-yellow;
            color: #fff;
          }
        }

        .btn-delete {
          border-color: $color-main;
          color: $color-main;

          &:hover {
            background: $color-main;
            color: #fff;
          }
        }
      }
    }
  }



}

.admin-create {
  .pc-inner {
    width: 1600px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  // 우측 콘텐츠 서식
  .right-content {
    width: 100%;
    padding: 60px 0;
  }

  form {
    legend {
      display: none;
    }

    .pcinput-box {
      padding-bottom: 20px;
    }

    .label {
      display: block;
      font-size: 16px;
      padding-bottom: 10px;

    }

    // 파일첨부 input
    #img {
      display: none;
    }

    label[for="img"] {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      border: 1px solid $color-gray-light;
      background: url("../../assets/images/admin/camera.png") no-repeat center 20%;
      text-align: center;
      padding-top: 40px;
      color: $color-gray-light;
      font-size: 14px;
      cursor: pointer;
    }


    .imglabel {
      background-color: aqua;
      overflow: hidden;
      border: 1px solid $color-gray-light;

      img {
        width: 20px;
        height: 18px;
        object-fit: cover;
        display: block;
      }
    }

    // 로그인 버튼
    button {
      display: block;
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: $color-white;
      background: $color-main;
      border-radius: 6px;
    }
  }


}