@use '../../assets/scss/variables' as *;
@use '../../assets/scss/function' as *;

#comp-restaurant {
  li {
    overflow: hidden;
    margin-bottom: vw-mo(20);
    border-radius: vw-mo(20);
    box-shadow: 0 vw-mo(2) vw-mo(10) rgba(0, 0, 0, 0.1);
  }

  li:last-child {
    margin-bottom: 0;
  }

  .img-box {
    width: 100%;
    height: vw-mo(260);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txt-box {
    padding: vw-mo(20) vw-mo(30);

    .tit {
      margin-bottom: vw-mo(10);
      font-size: vw-mo(30);
    }

    p {
      color: $color-gray;
      font-size: vw-mo(24);
    }

    .rank::before {
      content: '';
      display: inline-block;
      width: vw-mo(24);
      height: vw-mo(24);
      margin-right: vw-mo(10);
      background: url('../../assets/images/review/icon_rank.png') no-repeat center / cover;
      vertical-align: text-top;
    }
  }
}