@use 'assets/scss/variables' as *;
;
@use 'assets/scss/function' as *;

.cp-review {
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw-mo(20) 0;
    border-bottom: 1px solid $color-gray;
  }

  .img-box {
    overflow: hidden;
    width: vw-mo(170);
    height: vw-mo(193);
    border-radius: vw-mo(20);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txt-box {
    width: calc(100% - vw-mo(170) - vw-mo(40));

    .text {
      margin-bottom: vw-mo(10);
      font-size: vw-mo(30);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .name,
    .info {
      font-size: vw-mo(24);
      color: $color-gray;
    }

    .info {
      margin-bottom: vw-mo(10);
    }
  }
}