@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

#cp-community {
  .item {
    display: block;
    padding: vw-mo(20) 0;
    border-bottom: 1px solid $color-gray;
  }

  .common-title-box {
    margin-bottom: vw-mo(10);
  }

  .comm-top {
    display: flex;
    align-items: center;
    margin-bottom: vw-mo(20);

    .img-box {
      width: vw-mo(64);
      height: vw-mo(64);
      margin-right: vw-mo(20);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-box {
      color: $color-gray;
      font-size: vw-mo(24);

      .nick {
        margin-right: vw-mo(6);
      }

      .upload-time {
        margin-left: vw-mo(6);
      }
    }
  }

  .comm-mid {
    margin-bottom: vw-mo(20);

    .comm-title {
      font-weight: bold;
      margin-bottom: vw-mo(6);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .comm-content {
      color: $color-gray;
      font-size: vw-mo(24);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}