@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

.admin-restaurant-create {
  .pc-input-box select {
    background-position-x: 99%;
    background-size: 14px;
  }

  .pc-input-box__file {
    margin-bottom: 20px;
  }
}