@charset "utf-8";
@import '../../../assets/scss/variables';
@import '../../../assets/scss/function';

body.admin main {
  padding: 0
}

.admin-restaurantlist {
  .pc-inner {
    width: 1600px;
    height: 980px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  .admin-nav {
    width: 320px;
    margin-right: 70px;
    background-color: $color-text;
    color: $color-white;

    h2 {
      text-align: center;
      padding: 55px 0;
    }

    ul {
      border-bottom: 1px solid $color-gray;

      li {
        text-align: center;
        line-height: 140%;
        font-size: 20px;
      }

      a {
        display: block;
        padding: 20px 0px;
      }
    }
  }

  // 우측 콘텐츠
  .admin-list {
    width: 100%;

    .list-top {
      display: flex;
      justify-content: space-between;
      margin: 60px 0px;

      h3 {
        font-weight: bold;
      }

      a {
        font-size: 14px;
        padding: 10px 20px;
        background-color: $color-sub-orange;
        color: $color-white;
        border-radius: 6px;
        line-height: 140%;
      }
    }

    table {
      width: 100%;
      font-size: 12px;
      table-layout: fixed;
      border-collapse: collapse;

      caption {
        display: none;
      }

      thead {
        tr {
          background-color: $color-sub-black;
        }

        th {
          padding: 10px 0;
          border: 1px solid $color-gray-light;
          color: $color-white;
          text-align: center;
        }
      }

      tbody {
        tr {}

        td {
          padding: 10px 5px;
          border: 1px solid $color-gray-light;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }



}