@charset "uft-8";
@import '../../../assets/scss/variables';
@import '../../../assets/scss/function';


.admin-restaurantcreate {
  .pc-inner {
    width: 1600px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }

  // 우측 콘텐츠 서식
  .right-content {
    width: 100%;

    .list-top {
      display: flex;
      justify-content: space-between;
      margin: 60px 0px;

      h3 {
        font-weight: bold;
      }
    }
  }
}