// CommunityList.scss
@import '../../assets/scss/variables';

.community-list {
  padding: 60px 0;

  .inner {}

  .info-box {

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 44px;
      font-weight: bold;
      line-height: 120%;
    }
  }

  a {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid $color-gray;

    .comm-top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .img-box {
        width: 64px;
        height: 64px;
        margin-right: 20px;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .txt-box {
        color: $color-gray;
        font-size: 24px;

        .nick {
          margin-right: 6px;
        }

        .upload-time {
          margin-left: 6px;
        }
      }

    }

    .comm-mid {
      margin-bottom: 20px;

      .comm-title {
        font-weight: bold;
        margin-bottom: 6px;
      }

      .comm-content {
        color: $color-gray;
        font-size: 24px;
      }
    }

    .comm-bot {
      span {
        margin-right: 20px;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}