// CommunityDetail.scss
@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;


.community-detail {
  .item {
    display: block;
    padding: vw-mo(20) 0 vw-mo(60);
  }

  .meetup-writer {
    position: relative;
    right: vw-mo(20);
    display: flex;
    align-items: center;
    :hover {cursor: pointer;}
  }

  .user-writer {
    display: flex;
    justify-content: space-between;
  }
  .user-writer button {
      display: block;
    }

  .dot {
    font-size: vw-mo(50);
    line-height: vw-mo(10);
    color: $color-gray-light;
  }

  .opne-menu-btn {
    position: absolute;
    top: vw-mo(50);
    left: vw-mo(-15);
    width: vw-mo(82);
    height: vw-mo(106);
    font-size: vw-mo(24);
    border-radius: vw-mo(10);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    padding-top: 10px;

  }

  .opne-menu-btn button {
    margin: 0 auto;
    line-height: vw-mo(43);
  }

  .comm-top {
    display: flex;
    align-items: center;
    margin-bottom: vw-mo(20);

    .img-box {
      width: vw-mo(64);
      height: vw-mo(64);
      margin-right: vw-mo(20);
      border-radius: 50%;
      overflow: hidden;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-box {
      color: $color-gray;
      font-size: vw-mo(24);

      .nick {
        margin-right: vw-mo(6);
      }

      .upload-time {
        margin-left: vw-mo(6);
      }
    }

  }

  .comm-mid {
    margin-bottom: vw-mo(20);

    .comm-title {
      margin-bottom: vw-mo(6);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: vw-mo(30);
      font-weight: bold;
    }

    .comm-content {
      color: $color-gray;
      font-size: vw-mo(28);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .comm-bot {
    span {
      margin-right: vw-mo(20);
    }

    svg {
      margin-right: vw-mo(10);
    }
  }
}