// CommunityDetail.scss
@use 'assets/scss/variables' as *;
;
@use 'assets/scss/function' as *;


.community-detail {
  .item {
    display: block;
    padding: vw-mo(20) 0 vw-mo(60);
  }

  .comm-top {
    display: flex;
    align-items: center;
    margin-bottom: vw-mo(20);

    .img-box {
      width: vw-mo(64);
      height: vw-mo(64);
      margin-right: vw-mo(20);
      border-radius: 50%;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-box {
      color: $color-gray;
      font-size: vw-mo(24);

      .nick {
        margin-right: vw-mo(6);
      }

      .upload-time {
        margin-left: vw-mo(6);
      }
    }

  }

  .comm-mid {
    margin-bottom: vw-mo(20);

    .comm-title {
      margin-bottom: vw-mo(6);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: vw-mo(30);
      font-weight: bold;
    }

    .comm-content {
      color: $color-gray;
      font-size: vw-mo(28);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .comm-bot {
    span {
      margin-right: vw-mo(20);
    }

    svg {
      margin-right: vw-mo(10);
    }
  }
}