@charset "utf-8";

@use '../../assets/scss/variables' as *;
@use '../../assets/scss/function' as *;

.meetup-detail {
  .inner {
    .user {
      display: flex;
      gap: vw-mo(20);
      align-items: center;
      padding-bottom: vw-mo(20);
    }

    .user-img {
      width: vw-mo(64);
      height: vw-mo(64);
    }

    .user-img img {
      width: 100%;
      height: 100%;
    }

    .user-info {
      color: $color-gray;
      font-size: vw-mo(24);
    }

    .user-info-gap {
      padding: 0 vw-mo(10);
    }

    .content-box {
      padding-bottom: vw-mo(60);

      .content-img {
        width: vw-mo(300);
        height: vw-mo(340);
        padding-bottom: vw-mo(20);
      }
    }

    .content-txt {
      font-weight: bold;
      font-size: vw-mo(30);
    }

    .content-txt-detail {
      display: block;
      font-weight: 400;
      padding: vw-mo(10) 0 vw-mo(20) 0;
    }

    .content-info {
      padding-bottom: vw-mo(20);

      img {
        width: vw-mo(30);
      }
    }

    .content-info span {
      color: $color-gray;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        padding-bottom: vw-mo(6);
      }
    }

    .content-info-txt img {
      margin-right: vw-mo(10);
    }

    .btn-wide {
      margin-bottom: vw-mo(20);
    }
  }
}