// meetuplist.scss

@use '../../assets/scss/_reset' as *;
@use '../../assets/scss/base' as *;
@use '../../assets/scss/variables' as *;

.meetup-list {
  .tab-title {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid $color-gray;
    font-size: 32px;

    .tab-content1 {}

    button {}
  }

  .tab-content {
    li {}

    .item {
      display: flex;
      justify-content: space-between;
    }

    .item-txt {
      h3 {}

      p {}

      span {}

      img {}
    }

    .item-img {
      img {}
    }
  }
}