// meetuplist.scss

@use '../../assets/scss/variables' as *;
@use '../../assets/scss/function' as *;

.meetup-list {
  .tab-title {
    display: flex;
    justify-content: space-evenly;
    font-size: vw-mo(32);

    li {
      border-bottom: vw-mo(2) solid $color-gray;
      width: vw-mo(350);
      text-align: center;
      padding-bottom: vw-mo(20);
    }

    .act {
      border-bottom: vw-mo(2) solid $color-main;
    }
  }

  .tab-content {
    .tab-content-list {
      display: block;
    }

    li {
      display: none;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-gray;
      padding: vw-mo(20) 0;
    }

    .item-txt {
      h3 {
        font-size: vw-mo(30);
        font-weight: bold;
        padding-bottom: vw-mo(10);
      }

      p {
        padding-bottom: vw-mo(20);
        font-size: vw-mo(24);
        color: $color-gray;
      }

      img {
        height: vw-mo(20)
      }

      .icon-num {
        color: #333;
      }

      span {
        padding-right: vw-mo(20);
      }

      svg {
        padding-right: vw-mo(10);
        font-size: vw-mo(30);
        vertical-align: middle;
      }
    }

    .item-img {
      width: vw-mo(300);
      text-align: right;

      img {
        width: vw-mo(170);
        height: vw-mo(190);
      }
    }
  }
}