// @charset "utf-8";
// @use 'assets/scss/variables' as *;
// @use 'assets/scss/function' as *;

// .pc-input-box {

//   label,
//   .label {
//     display: block;
//     font-size: 16px;
//     padding-bottom: 10px;
//   }

//   select,
//   input {
//     font-size: 14px;
//     color: $color-text;
//     width: 100%;
//     height: 40px;
//     border: 1px solid $color-gray-light;
//     border-radius: 6px;
//     padding: 0 10px;
//     margin: 0;
//     display: block;
//   }
// }