@charset "utf-8";
@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

.pc-input-box {
  input {
    font-size: 14px;
    color: $color-text;
    width: 100%;
    height: 40px;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    padding: 0 10px;
    margin: 0;
    display: block;
  }


  textarea {
    display: block;
    width: 100%;
    height: 128px;
    padding: 10px;
    margin: 0;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    color: $color-text;
    font-size: 14px;
  }

  select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    color: $color-text;
    font-size: 14px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $color-gray-light;
  }

  select {
    appearance: none; // 기본 화살표 제거
    background: url('../../assets/images/review/icon_filter.png') no-repeat 97% 50% / 20px;
    color: $color-gray-light;
  }

}