@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

.mypage-profile {
  .common-input-box:nth-of-type(3) {
    margin-bottom: vw-mo(4);
  }

  .pw-text {
    margin-bottom: vw-mo(20);
    color: $color-gray;
    font-size: vw-mo(24);
  }
}