@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

// 게시글 댓글 ul
.comm-comment {
  li {
    display: flex;
    margin-bottom: vw-mo(20);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .comment-img {
    overflow: hidden;
    border-radius: 50%;
    width: vw-mo(56);
    height: vw-mo(56);
    margin-right: vw-mo(20);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .comment-content {
    width: vw-mo(624);

    .comment-nick {
      display: block;
      padding: vw-mo(10) 0;
      font-size: vw-mo(24);
      color: $color-gray;
    }

    .comment-txt {
      padding: vw-mo(10) 0;
      font-size: vw-mo(24);
      color: $color-text;
      white-space: normal;
      overflow-wrap: break-word;
      word-break: normal;
    }

    .comment-time {
      font-size: vw-mo(24);
      color: $color-gray-light;
    }
  }
}