@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/function' as *;

.comm-input {
  display: flex;
  align-items: center;
  margin-bottom: vw-mo(30);

  .input-img {
    border-radius: 50%;
    width: vw-mo(56);
    height: vw-mo(56);
    margin-right: vw-mo(20);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .input-form {
    position: relative;
    width: calc(100% - vw-mo(56) - vw-mo(20));

    input {
      width: 100%;
      background-color: $color-white-gray;
      padding: vw-mo(23) vw-mo(70) vw-mo(23) vw-mo(20);
      font-size: vw-mo(24);
      border: 1px solid $color-gray-light;
      border-radius: vw-mo(6);

      &::placeholder {
        color: $color-gray-light;
      }
    }

    button {
      position: absolute;
      right: vw-mo(20);
      top: vw-mo(23);
      font-size: vw-mo(24);
      color: $color-text;
    }
  }
}