@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

.review-detail {
  .review-con {
    padding-bottom: vw-mo(60);
  }

  .profile-area {
    display: flex;
    gap: vw-mo(20);
    position: relative;

    .img-box {
      overflow: hidden;
      width: vw-mo(64);
      height: vw-mo(64);
      border-radius: 50%;
    }

    .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .txt-box {
      margin-bottom: vw-mo(20);
    }

    .name {
      display: block;
      margin-bottom: vw-mo(4);
      font-size: vw-mo(24);
      color: $color-gray;
    }

    .badge {
      margin-left: vw-mo(6);
    }

    .rank-date {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: vw-mo(10);
      color: $color-gray-light;
      font-size: vw-mo(24);
    }

    .more-box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .more-btn {
      width: vw-mo(42);
      vertical-align: super;
    }

    .more-btn img {
      width: 100%;
    }

    .more-list {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: vw-mo(10) vw-mo(20);
      border-radius: vw-mo(10);
      box-shadow: 0 0 vw-mo(10) rgba($color: #000000, $alpha: 0.1);
    }

    .more-list li {
      line-height: 1.8;
    }

    // act
    .more-list.act {
      display: block;
    }
  }

  .image-area {
    display: flex;
    gap: vw-mo(20);
    margin-bottom: vw-mo(20);

    .img-box {
      overflow: hidden;
      width: vw-mo(170);
      height: vw-mo(193);
      border-radius: vw-mo(10);
    }

    .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-area {
    >p {
      margin-bottom: vw-mo(20);
    }

    .link {
      display: inline-block;
      margin-bottom: vw-mo(20);
      padding: vw-mo(5) vw-mo(10);
      background-color: $color-white-gray;
      border-radius: vw-mo(10);
      color: $color-sub-orange;
    }
  }
}