@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;

.common-input-box__file {
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: vw-mo(10);
    width: vw-mo(100);
    height: vw-mo(100);
    border: 1px solid $color-gray-light;
    border-radius: vw-mo(6);
    color: $color-gray-light;
    font-size: vw-mo(24);
    cursor: pointer;
  }

  label::before {
    content: '';
    display: block;
    width: vw-mo(28);
    height: vw-mo(24);
    background: url('../../assets/images/write/icon_picture.png') no-repeat center / contain;
  }

  input {
    display: none;
  }
}