@charset "utf-8";
@import '../../assets/scss/variables';
@import '../../assets/scss/function';

#pcinput-box {
  label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
  }

  input {
    font-size: 14px;
    color: $color-gray-light;
    width: 100%;
    height: 40px;
    border: 1px solid $color-gray-light;
    border-radius: 6px;
    padding: 0 10px;
    margin: 0;
    display: block;
  }
}