@charset "utf-8";
@import '../../assets/scss/variables';
@import '../../assets/scss/function';

.admin-header {
  border-bottom: 1px solid $color-gray;

  .header-top {
    width: 1600px;
    height: 100px;
    padding: 0 30px;
    display: flex;
    color: $color-text;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .header-top ul {
    display: flex;
    gap: 50px;

  }

  .header-top li {
    font-size: 24px;
  }

  h1 img {
    width: 138px;
    height: 60px;
  }





  .admin-menu {
    display: flex;
    align-items: center;
    gap: 577px;
  }

  .admin-info {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    color: $color-gray;
  }

  .admin-info img {
    width: 40px;
    height: 40px;
  }

  .admin-info p {
    font-size: 16px;
  }

  .admin-info button {
    font-size: 14px;
    display: block;
    padding: 5px 10px;
    border: 1px solid $color-sub-orange;
    border-radius: 6px;
    ;
  }
}

// ν‘Έν„°μ„μ‹
footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background: $color-text;
  color: $color-white;
  width: 100%;
  font-size: 16px;
  padding: 30px 0;
}