@charset "utf-8";
@import '../../assets/scss/variables';
@import '../../assets/scss/function';

.admin-header {
  border-bottom: 1px solid $color-gray;

  .header-top {
    width: 1600px;
    height: 100px;
    padding: 0 30px;
    display: flex;
    color: $color-text;
    gap: 252px;
    margin: 0 auto;
    align-items: center;
  }

  .header-top ul {
    display: flex;
    gap: 50px;

  }

  .header-top li {
    font-size: 24px;
  }

  h1 img {
    width: 138px;
    height: 60px;
  }

  .location-review {
    color: $color-text;
    background: $color-sub-yellow;
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }

  .location-review img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .admin-menu {
    display: flex;
    align-items: center;
  }

  .admin-info {
    display: flex;
    font-size: 16px;
  }

  .admin-info img {
    width: 40px;
    height: 40px;
  }

  .admin-info p {
    vertical-align: middle;
  }

  .admin-info button {
    font-size: 14px;

  }
}

// 푸터서식
footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  background: $color-text;
  color: $color-white;
  width: 100%;
  font-size: 16px;
  padding: 30px 0;
}

// 테스트