@charset "utf-8";
@use 'assets/scss/variables' as *;
@use 'assets/scss/function' as *;


.admin-join {
  margin: 0 auto;
  width: 1600px;
  padding: 0 30px;

  .pc-inner {
    width: 700px;
    margin: 0 auto;
    padding: 60px 0;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
  }

  form {
    width: 700px;

    .join-mb {
      margin-bottom: 20px;
    }

    .join-mb:last-of-type {
      margin-bottom: 60px;
    }

    .pc-input-box {
      margin-bottom: 0;
    }

    .pw-text {
      margin-top: 4px;
      font-size: 16px;
    }

    button {
      display: block;
      width: 700px;
      font-size: 14px;
      color: $color-white;
      background: $color-main;
      border-radius: 6px;
      padding: 10px;
    }
  }
}