@charset "utf-8";
@import '../../assets/scss/variables';
@import '../../assets/scss/function';

.admin-login {
  margin: 0 auto;
  width: 1600px;
  padding: 0 30px;

  h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
  }

  .admin-login-form {
    width: 700px;

    p {
      padding-bottom: 20px;
    }


    label {
      display: block;
      font-size: 16px;
      padding-bottom: 10px;
    }

    input {
      font-size: 14px;
      color: $color-gray-light;
      width: 700px;
      height: 40px;
      border: 1px solid $color-gray-light;
      border-radius: 6px;
      padding: 0 10px;
      margin: 0;
      display: block;
    }

    .check-box {
      display: flex;
      align-items: center;
      color: $color-gray;
    }

    .check-box label {
      padding-bottom: 0;
      font-size: 14px;
    }


    #check {
      width: 16px;
      margin-right: 10px;
    }

    .ld-join-box {
      text-align: center;
      color: $color-gray;
      font-size: 14px;
      padding-bottom: 60px;

    }

    .id-join-gap {
      padding: 0 10px;
    }

    button {
      width: 700px;
      height: 40px;
      font-size: 14px;
      color: $color-white;
      background: $color-main;
      border-radius: 6px;
    }
  }
}